<div class="row">
  <div class="col-md-12">
    <h2> Welcome, <%= @user.name %>!</h2><br>
  </div>

  <div class="col-md-12">
    <%= link_to "Calculate a drop off route!", dropoff_locations_path %>
    <br><br>
    <%= link_to "Calculate a pickup route!", pickup_locations_path %>
  </div>
</div>